@font-face {
    font-family: 'MyCustomFont'; /* نام دلخواه برای فونت */
    src: url('fonts/my-font.ttf') format('truetype'); /* مسیر فایل فونت */
    font-weight: 300
}

body {
    font-family: 'MyCustomFont', sans-serif; /* استفاده از فونت سفارشی */
    margin: 20px;
    background-color: #f4f4f4;
}