@font-face {
    font-family: 'PINAR';
    /* نام دلخواه برای فونت */
    src: url('fonts/fonts/Pinar-DS1-Light.woff2') format('woff2');
    /* مسیر فایل فونت */
    font-weight: 300
}

@font-face {
    font-family: 'PINAR';
    /* نام دلخواه برای فونت */
    src: url('fonts/Pinar-DS1-Medium.woff2') format('woff2');
    /* مسیر فایل فونت */
    font-weight: 400
}

@font-face {
    font-family: 'PINAR';
    /* نام دلخواه برای فونت */
    src: url('fonts/Pinar-DS1-Regular.woff2') format('woff2');
    /* مسیر فایل فونت */
    font-weight: 500
}

@font-face {
    font-family: 'PINAR';
    /* نام دلخواه برای فونت */
    src: url('fonts/Pinar-DS1-SemiBold.woff2') format('woff2');
    /* مسیر فایل فونت */
    font-weight: 600
}

@font-face {
    font-family: 'PINAR';
    /* نام دلخواه برای فونت */
    src: url('fonts/Pinar-DS1-Bold.woff2') format('woff2');
    /* مسیر فایل فونت */
    font-weight: 700
}

@font-face {
    font-family: 'PINAR';
    /* نام دلخواه برای فونت */
    src: url('Pinar-DS1-ExtraBold.woff2') format('woff2');
    /* مسیر فایل فونت */
    font-weight: 800
}

@font-face {
    font-family: 'PINAR';
    /* نام دلخواه برای فونت */
    src: url('fonts/Pinar-DS1-Black.woff2') format('woff2');
    /* مسیر فایل فونت */
    font-weight: 900
}

body {
    font-family: 'PINAR';
    /* استفاده از فونت سفارشی */
    margin: 20px;
    background-color: #f4f4f4;
    font-weight: 500
}

h1 {
    font-weight: 700;
    /* استفاده از وزن بولد برای عنوان */
}

p {
    white-space: pre-wrap;
    /* به شما اجازه می‌دهد که متن را به صورت چند خطی نمایش دهید */
    word-wrap: break-word;
    /* کلمات را در صورت نیاز به خط بعدی می‌شکند */
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 3px;
    /* overflow: auto; */
    /* در صورت نیاز اسکرول ایجاد می‌کند */
}